extends layout

block content
	header
		h1 Type the name of a subreddit and press enter (may take some time to show results)
		input#search(type="search", placeholder="Subreddit to Display")
	div.content-wrap
		div.loader
		div#results.cf
		include template.html

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js")
	
	script(src="/javascripts/main.js")