html{
	font-size: 16px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html,body,.content-wrap{
	height: 100%;
}

a {
  color: #00B7FF;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.content-wrap{
	position: relative;
}

.loader{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: white url(../img/ajax-loader.gif) no-repeat center 10%;
	z-index: 100;
}

#search {
	padding: 1rem 2rem;
	text-align: left;
	width:100%;
	font-size:3.5rem;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid black;
}

#results img{
	display: block;
	width: 25%;
	height: auto;
	float: left;
}
